@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Asap", sans-serif;
    background-image: url(DR_bg.jpg);
    background-size: cover;
}

header {
    background-color: #f8d4d2;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.DR_logo img {
    height: 50px;
    margin-left: 20px;
}

.DR_logo2 img {
    width: 120px;
    padding-left: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: "Asap", sans-serif;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    font-weight: 700;
}

nav ul li a.active, 
nav ul li a:hover {
    background-color: #d48b8b;
    border-radius: 4px;
}

.header-title {
    text-align: center;
    text-shadow: #000000;
    margin: 70px 0 20px;
    font-size: 4rem;
    color: #ffffff;
    position: relative;
    top: 110px; 
    font-family: "Gemunu Libre", sans-serif;
}

.game {
    background-color: #352929;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 140px;
    color: #ffffff;
    font-size: 20px;
    text-align: justify;
}

.game-content {
    
    max-width: 60%;
}

.game-content h1 {
    font-size: 2em;
    font-family: "Gemunu Libre", sans-serif;
}

.game-content p {
    font-size: 1.2em;
}

.game-content .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #000000;
    text-decoration: none;  
    border-radius: 4px;
    margin-top: 10px;
}

.game-content .btn:hover {
    background-color: #575757;
}

.game-image img {
    max-width: 90%;
    height: auto;
    padding-top: 70px;
    padding-left: 60px;
}

.backstory {
    font-family: "Gemunu Libre", sans-serif;
    padding: 20px;
    color: #ffffff;
    padding-bottom: 100px;
    font-size: 30px;
}

footer {
    color:#ffffff;
    text-align: center;
    font-weight: 700;
}

@media (max-width: 870px) {
    .game-content {
        width: auto;
    }
    .game-content p {
        font-size: 1.2em;
        width: 200%;
    }
    .game-content h1 {
        font-size: 2em;
        font-family: "Gemunu Libre", sans-serif;
        width: 200%;
    }
    .game-image img {
        max-width: 0%;
    }
    .about {
        text-align: justify;
    }
}

@media (max-width: 690px) {
    .hero {
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin-top: 120px;
        color: #000000;
        font-size: 20px;
        text-align: justify;
    }
    .header-title {
        text-align: center;
        margin: 20px 0;
        font-size: 2em;
        color: #000000;
        font-family: "Gemunu Libre", sans-serif;
        top: 90px; 
    }
    .game-content {
        width: 100%;
        max-width: none; 
        text-align: center; 
        padding: 0 20px; 
    }
    .game-content h1 {
        font-size: 1.5em; 
        padding-top: 20px; 
        width: 100%; 
    }
    .game-image img {
        max-width: 100%;
        padding: 0;
        margin: 20px 0;
    }
    .DR_logo2 img {
        width: 0;
        padding-left: 0;
    }
}