* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

body {
    background-image: url(drbg.jpg);
    background-size: cover;
    display: grid;
    background-color: rgb(54, 34, 7);
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#flexbox-menu {
    grid-column: 1;
    width: 250px;
    height:fit-content;
    background-color: rgb(214, 152, 255);
    border: rgb(58, 5, 68) 5px solid;
    align-content: center;
    text-align: center;
    padding-bottom: 5px;
}

#flex-container {
    border: rgb(57, 1, 68) 10px solid;
    background-image: url("drbg1.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 2;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    height: 945px;
    width: 945px;
    gap: 0px;
}

#box1 {
    background: url("sleepy_dr.gif");
    background-size: contain;
    border: rgb(56, 6, 58) 7px solid;
    font-size: 3rem;
    color:rgb(194, 122, 241);
    border-radius: 5px;
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: rgb(162, 0, 255);
    font-weight: bold;
    align-content: center;
    flex-grow: 0;
    text-shadow: 5px 5px 5px #000000;
}

#box2 {
    background: url("cheeron_dr.gif");
    background-size: contain;
    border: rgb(56, 6, 58) 7px solid;
    font-size: 3rem;
    color:rgb(194, 122, 241);
    border-radius: 5px;
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: rgb(162, 0, 255);
    font-weight: bold;
    align-content: center;
    flex-grow: 0;
    text-shadow: 5px 5px 5px #000000;
}

#box3 {
    background: url("angry_dr.gif");
    background-size: contain;
    border: rgb(56, 6, 58) 7px solid;
    font-size: 3rem;
    color:rgb(194, 122, 241);
    border-radius: 5px;
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: rgb(162, 0, 255);
    font-weight: bold;
    align-content: center;
    flex-grow: 0;
    text-shadow: 5px 5px 5px #000000;
}

button{
    border: rgb(56, 6, 58) 6px solid;
    color: white;
    background-color: rgb(109, 7, 168);
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
    margin: 5px;
}

.reset{
    width: 225px;
}

.gap{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.flex-direction{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.justify-content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.align-item{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.flex-grow{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
