*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 0.5s all ease;
    
body{
    background-image: url(pokeballbg.png);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
}

.flex-container{
    background-image: url(pokeball.png);
    background-position: center;
    background-size: cover;
    border: 2px solid rgb(103, 45, 84);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img{
    width: 250px;
}

p{
    display: none;
}

.pokemon{
    display: none;
}
    
.box{
    display: flex;
    width: 20%;
    align-items: center;
    padding: 1.5%;
    image-orientation: inherit;
    content: inherit;
    box-shadow: 5px 5px 3px black;
}

.yellow{
    background-color: #dfbe2a;
}

.green{
    background-color: #12ee49;
}

.red{
    background-color: #A52A2A;
}
    
.blue{
    background-color: #24ccff;
}
    
.brown{
    background-color: #e9902a;
}
    
.pink{
    background-color: #FFB6C1;
}

.psychic,
.grass,
.poison,
.bug,
.fire,
.dragon,
.normal,
.fairy,
.fighting,
.flying {
    display: none;
}


@media screen and (max-width: 800px) {
    .flex-container {
        width: 100%;
        margin: 10px;
        display: flex;
        gap: 5px;
        flex-flow: column;
        flex-wrap: wrap;
        justify-items: center;
    }   
    
    img {
        max-width: 20%;
        max-height: 20%;
        overflow: hidden;
    }
    
    .box {
        display: flex;
        width: 90%;
        height: auto;
        margin: 10px;
        align-items: center;
        image-orientation: inherit;
        content: inherit;
        box-shadow: 5px 5px 3px black;
        justify-content: space-between;
    }

    .box:hover {    
        background-image: url(hovimg.jpg);
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
    }

    .pokemon {
        display: block;
        width: 10%;
    }

    .name{
        display: block;
        font-size: 200%;
        font-family: Play;
        font-weight: bold;
        color: white;   
        text-shadow: 1px 1px 5px black;
    }
}

@media screen and (max-width: 600px) {
    .flex-container {
        width: 100%;
        margin: 2rem auto;
        display: flex;
        gap: 10px;
        flex-flow: column;
        flex-wrap: wrap;
        justify-items: center;
    }   
    
    img {
        max-width: 50%;
        overflow: hidden;
    }
    
    .box {
        display: flex;
        width: 90%;
        height: auto;
        margin: 10px;
        align-items: center;
        image-orientation: inherit;
        content: inherit;
        box-shadow: 5px 5px 3px black;
        flex-flow: column;
        justify-content: space-between;
    }

    .box:hover {    
        background-image: url(pokeballbg.png);
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
    }

    .pokemon{
        display: none;
    }

    .name{
        display: block;
        font-size: 200%;
        font-family: Play;
        font-weight: bold;
        color: white;   
        text-shadow: 1px 1px 5px black;
    }

.psychic,
.grass,
.poison,
.bug,
.fire,
.dragon,
.normal,
.fairy,
.fighting,
.flying {
     display: flex;
        font-family: "Play", sans-serif;
        border-radius: 20px;
        width: 120px;
        color: white;
        font-size: 20px;
        margin-bottom: 7px;
        justify-content: center;
    }

    .psychic {
        background-color: rgb(218, 32, 103);
    }
    .grass {
        background-color: rgb(27, 150, 52);
    }
    .poison {
        background-color: rgb(153, 15, 160);
    }
    .bug {
        background-color: rgb(97, 161, 60);
    }
    .fire {
        background-color: rgb(165, 42, 42);
    }
    .dragon {
        background-color: rgb(63, 135, 218);
    }
    .normal {
        background-color: rgb(91, 91, 91);
    }
    .fairy {
        background-color: rgb(207, 34, 181);
    }
    .fighting {
        background-color: rgb(161, 116, 31);
    }
    .flying {
        background-color: rgb(70, 170, 225);
    }
}
