body{
    background-image: url(pokeballbg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.flex-container{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    padding: 60px;
    gap: 60px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
}

.grid-item img{
    max-width: 70%;
    max-height: 70%;
}

.grid-item:hover{
    transform: scale(1.1);
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(gradient.png);
}

.pokemon-name-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pokeball-icon,.pokemon-name{
    display: none;
    position: absolute;
}

.pokemon-name{
    bottom: 15px;
    font-style: normal;
    font-size: 35px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

.pokeball-icon{
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}

@media (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(1,1fr);
    }

        .pokemon-name, .pokeball-icon{
          display: inline;
        }
    .pokemon-name-container{
        flex-direction: column;
    }
}

@media (max-width: 300px) {
    .grid {
        grid-template-columns: repeat(1,1fr);
    }

    .pokemon-name{
        display: block;
      }

    .pokeball-icon{
        display: none;
    }
}

@media (max-width: 100px) {
    .grid {
        grid-template-columns: repeat(1,1fr);
    }
}

.abra{
    background-color: #dfbe2a;
}
.bellsprout{
    background-color: #ffdb0d;
}
.bullbasaur{
    background-color: #12ee49;
}
.caterpie{
    background-color: #ff46f0;
}
.charmander1{
    background-color: #9b4919;
}
.dratini{
    background-color: #24ccff;
}
.eevee{
    background-color: #e9902a;
}
.jigglypuff{
    background-color: #d607ff;
}
.mankey{
    background-color: #fff0ac;
}
.meowth{
    background-color: #c2a31c;
}
.mew{
    background-color: #cf9cad;
}
.pidgey{
    background-color: #be7622;
}

