*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 0.5s all ease;
    
body{
    background-image: url(pokeballbg.png);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.flex-container{
    width: 100%;
    display: flex;
    border: 2px solid rgb(103, 45, 84);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    background-image: url(pokeballbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}   

img{
    width: 300px;

}

.name {
    display: none;
}

.pokemon{
    display: none;
}
    
.box {
    width: auto;
    height: auto;
    border: 3px solid grey;
}

.yellow{
    background-color: #dfbe2a;
}

.green{
    background-color: #12ee49;
}

.red{
    background-color: #A52A2A;
}
    
.blue{
    background-color: #24ccff;
}
    
.brown{
    background-color: #e9902a;
}
    
.pink{
    background-color: #FFB6C1;
}

.name {
    font-family: "Play", sans-serif;
    display: none;
}

.psychic,
.grass,
.poison,
.bug,
.fire,
.dragon,
.normal,
.fairy,
.fighting,
.flying {
    display: none;
}


@media screen and (max-width: 800px) {
    .box:hover {
        background-image: url(pokeballbg.png);
    }

    .box {
        width: 90%;
        margin: 10px;
        height: auto;
        flex-flow: row;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    .flex-container {
        width: 100%;
        display: flex;
        border: 2px solid rgb(103, 45, 84);
        flex-wrap: wrap;
        flex-direction: column;
        justify-items: center;
        gap: 5px;
    }

    img {
        width: 15%;
    }

    .name {
        font-family: "Play", sans-serif;
        display: flex;
        font-size: xx-large;
    }

    .pokemon {
        width: 18%;
        height: 90%;
        margin-top: 15px;
        display: flex;
    }
}

@media screen and (max-width: 650px) {
    .box {
        width: 100%;
        margin: 10px;
        height: auto;
        border: 3px solid grey;
        flex-flow: column;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    .pokemon {
        display: none;
    }

    img {
        width: 50%;
    }

    .name {
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        font-size: xx-large;
    }

.psychic,
.grass,
.poison,
.bug,
.fire,
.dragon,
.normal,
.fairy,
.fighting,
.flying {
     display: flex;
        font-family: "Play", sans-serif;
        border-radius: 20px;
        width: 120px;
        color: white;
        font-size: 20px;
        margin-bottom: 7px;
        justify-content: center;
    }

    .psychic {
        background-color: rgb(218, 32, 103);
    }
    .grass {
        background-color: rgb(27, 150, 52);
    }
    .poison {
        background-color: rgb(153, 15, 160);
    }
    .bug {
        background-color: rgb(97, 161, 60);
    }
    .fire {
        background-color: rgb(165, 42, 42);
    }
    .dragon {
        background-color: rgb(63, 135, 218);
    }
    .normal {
        background-color: rgb(91, 91, 91);
    }
    .fairy {
        background-color: rgb(207, 34, 181);
    }
    .fighting {
        background-color: rgb(161, 116, 31);
    }
    .flying {
        background-color: rgb(70, 170, 225);
    }
}
